<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 保存手写图片：Android 9 及以下需要写外部存储；10 以上走 MediaStore 不需要 -->
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:roundIcon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyWord">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".WordListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.StudyPagerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ReadingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.TestActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.ScoresActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.GradesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.PinyinActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.NumberActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.CertificatesActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".FavoriteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>
</manifest>
